<form name="formCompany" ng-submit="submitForm(formCompany.$valid)" class="form-horizontal p-5" novalidate>
  <div id="modal-media-youtube" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
      <iframe src="https://www.youtube-nocookie.com/embed/nu8AL588a1o" width="560" height="315" frameborder="0" uk-video></iframe>
    </div>
  </div>
  <div class="page-heading mb-4">
    <h4 class="page-title">FORMULAIRE ENTREPRISE</h4>
    <h6>Vous pouvez aussi <a href="#modal-media-youtube" uk-toggle class="text-blue">regarder la vidéo explicative</a>.</h6>
  </div>
  <div class="col-md-12 pl-0" ng-show="!_.isNull(itOptions.urlHelper.redir)">
    <div class="fade show has-icon">
      Si vous avez déjà un compte. <a ng-href="[[login_url]]" class="uk-text-bold">Se connecter à un compte existant</a>
    </div>
  </div>
  <hr>
  <div class="ibox-body">
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Nom de l'entreprise ou société <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" name="title" ng-model="company.title" type="text" autocomplete="off" placeholder="Nom de l'entreprise ou société"
               required>
        <div ng-messages="formCompany.title.$error" role="alert" class="input-message-animation"
             ng-show="formCompany.title.$invalid && formCompany.title.$touched">
          <div ng-message="required">Le nom de l'entreprise ou société est obligatoire.</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row ">
      <label class="col-sm-4 col-form-label ">Region <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <div class="form-group">
          <select class="form-control" name="region" ng-model="company.region"
                  title="Region" required>
            <option></option>
            <option ng-repeat="region in regions" value="[[region.term_id]]">[[region.name]]</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Code postal ou nom d'une ville <span style="color: red">*</span></label>
      <div class="col-md-6 form-group">
        <select class="form-control input-mode country" name="country" ng-model="company.country" required>
          <option></option>
          <option value="[[city.term_id]]" ng-repeat="city in allCity|filter:searchCityFn">([[city.postal_code]]) [[city.name]]</option>
        </select>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Adresse physique de l'entreprise <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" name="address" ng-model="company.address" type="text" placeholder="Adresse"
               required>
        <p class="mention-text mt-1">Cette donnée n’est jamais partagée et utilisée uniquement pour la gestion de votre compte</p>
        <div ng-messages="formCompany.address.$error" role="alert" class="input-message-animation"
             ng-show="formCompany.address.$invalid && formCompany.address.$touched">
          <div ng-message="required">Le champ adresse est obligatoire.</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">NIF <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" name="nif" ng-model="company.nif" type="text" placeholder="NIF" required>
        <p class="mention-text mt-1">Cette donnée n’est jamais partagée et utilisée uniquement à des fins d’analyse.</p>
        <div ng-messages="formCompany.nif.$error" role="alert" class="input-message-animation"
             ng-show="formCompany.nif.$invalid && formCompany.nif.$touched">
          <div ng-message="required">Ce champ est obligatoire.</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Numero statistique <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" name="stat" ng-model="company.stat" type="text" placeholder="Numero statistique"
               required>
        <p class="mention-text mt-1">Cette donnée n’est jamais partagée et utilisée uniquement à des fins d’analyse.</p>
        <div ng-messages="formCompany.stat.$error" role="alert" class="input-message-animation"
             ng-show="formCompany.stat.$invalid && formCompany.stat.$touched">
          <div ng-message="required">Ce champ est obligatoire.</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Téléphone fixe de l'entreprise</label>
      <div class="col-sm-6">
        <input class="form-control" name="phone" ng-model="company.phone" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" type="text"
               placeholder="Téléphone fixe de l'entreprise">
        <div ng-messages="formCompany.phone.$error" role="alert" class="input-message-animation"
             ng-show="formCompany.phone.$invalid && formCompany.phone.$touched">
          <div ng-message="pattern">Numéro de téléphone invalide</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Numéros de téléphone <span
        style="color: red">*</span></label>
      <div class="col-sm-6">
        <div ng-form="phoneForm" ng-repeat="phone in company.cellphone track by phone.id" class="form-group row">
          <div class="col-sm-10 pr-0">
            <input class="form-control mt-1" name="cellphone" ng-model="company.cellphone[ [[$index]] ].value"
                   type="text"
                   ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/"
                   ng-required="true"
                   placeholder="Numéro de téléphone">
            <div ng-messages="phoneForm.cellphone.$error" role="alert" class="input-message-animation"
                 ng-show="phoneForm.cellphone.$invalid && phoneForm.cellphone.$touched">
              <div ng-message="required">Ce champ est obligatoire.</div>
              <div ng-message="pattern">Numéro de téléphone invalide</div>
            </div>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-outline-success btn-icon-only btn-sm mt-2" tabindex="0"
                    data-toggle="tooltip" ng-show="!$first" data-placement="left" title="Enlever ce numero"
                    ng-click="removePhone(phone.id)">
              <i class="la la-minus-circle"></i></button>
          </div>
        </div>
        <button class="btn btn-outline-success btn-icon-only btn-sm mt-2" data-placement="right"
                data-toggle="tooltip" title="Ajouter un numero" ng-click="addPhone()"><i
          class="la la-plus-circle"></i></button>

        <p class="mt-4 mention-text">
          Ajouter le numéro téléphone un par un.
          <br>Cliquer sur le bouton « + » pour ajouter un autre numéro.
          <span class="mt-1 d-block"></span>
          <br>Les formats de numéro téléphone validé intègre les préﬁxes suivants (034 ... ou 039... ou +26133.. ou
          0026132...
          ou 00261 39 12 345 67).
        </p>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label"></label>
      <div class="col-sm-3 d-flex align-items-center">
        <label class="radio radio-grey radio-primary radio-inline">
          <input type="radio" name="greeting" ng-model="company.greeting" value="mr">
          <span class="input-span"></span>Monsieur</label>
        <label class="radio radio-grey radio-primary radio-inline">
          <input type="radio" name="greeting" ng-model="company.greeting" value="mrs">
          <span class="input-span"></span>Madame</label>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Nom du responsable <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" name="responsible" ng-model="company.name" type="text" placeholder="Nom et Prénom"
               required>
        <div ng-messages="formCompany.responsible.$error" role="alert" class="input-message-animation"
             ng-show="formCompany.responsible.$invalid && formCompany.responsible.$touched">
          <div ng-message="required">Le nom du résponsable est obligatoire.</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row ">
      <label class="col-sm-4 col-form-label ">Secteur d'activité</label>
      <div class="col-sm-6">
        <div class="form-group">
          <select class="form-control" name="branch_activity" ng-model="company.branch_activity"
                  title="Secteur d'activité">
            <option></option>
            <option ng-repeat="abranch in abranchs" value="[[abranch.term_id]]">[[abranch.name]]</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox-body ibox-footer">
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Email du responsable de l'entreprise<span
        style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" ng-mail="company.email" name="email" ng-model="company.email"
               ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
               type="text" placeholder="Ex: exemple@mail.com" required>
        <div ng-messages="formCompany.email.$error" role="alert" class="input-message-animation"
             ng-show="formCompany.email.$invalid && formCompany.email.$touched">
          <div ng-message="required">Adresse email est obligatoire.</div>
          <div ng-message="pattern">Veuillez entrer une adresse e-mail valide</div>
          <div ng-message="mail">Adresse email valide refusée ou déjà enregistrée pour un autre compte.</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Mot de passe <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" name="pwd" ng-model="company.pwd" ng-minlength="6" type="password"
               placeholder="Mot de passe" placeholder="Ex: Papaparse29@"
               ng-pattern="/^(?=(.*\d){2})(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z\d]).{8,}$/"
               required>
        <div ng-messages="formCompany.pwd.$error" role="alert" class="input-message-animation"
             ng-show="formCompany.pwd.$invalid && formCompany.pwd.$touched">
          <div ng-message="required">Le mot de passe est obligatoire.</div>
          <div ng-message="pattern">Votre mot de passe doit comporter 8 caractères minimum, comprenant des chiffres et des lettres minuscules et 
            majuscules,ainsi qu'un caractère spécial (-*/@+\_%$=).</div>
          <div ng-message="minlength">Votre mot de passe doit au minimum 8 caractères</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Confirmation mot de passe <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" name="pwdConf" ng-model="company.pwdConf" type="password" placeholder="Mot de passe"
               compare-to="company.pwd" required>
        <div ng-messages="formCompany.pwdConf.$error" role="alert" class="input-message-animation"
             ng-show="(formCompany.pwdConf.$invalid && formCompany.pwdConf.$touched) && ! _.isEmpty(company.pwd)">
          <div ng-message="required">Vous devez saisir votre mot de passe.</div>
          <div ng-message="compareTo">Les mots de passes ne sont pas identiques.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox-body ibox-footer">
    <div class="form-group mb-4 row ">
      <label class="col-sm-10 col-form-label ">Souhaitez-vous recevoir une notiﬁcation quand
        un nouveau CV est insérer dans Itjobmada?</label>
      <div class="col-sm-8">
        <label class="radio radio-grey radio-primary radio-inline">
          <input type="radio" name="notification" ng-model="company.notification" value="1">
          <span class="input-span"></span>Oui</label>

        <label class="radio radio-grey radio-primary radio-inline">
          <input type="radio" name="notification" ng-model="company.notification" value="0">
          <span class="input-span"></span>Non</label>
      </div>
    </div>
    <div class="form-group mb-4 row ">
      <label class="col-sm-10 col-form-label ">Est ce que vous voulez recevoir notre newsletter?</label>
      <div class="col-sm-8">
        <label class="radio radio-grey radio-primary radio-inline">
          <input type="radio" name="newsletter" ng-model="company.newsletter" value="1">
          <span class="input-span"></span>Oui</label>

        <label class="radio radio-grey radio-primary radio-inline">
          <input type="radio" name="newsletter" ng-model="company.newsletter" value="0">
          <span class="input-span"></span>Non</label>
      </div>
    </div>
  </div>
  <div class="ibox-footer row">
    <div class="col-sm-9 d-flex align-items-center">
          <span class="text-muted text-left" style="font-size: 0.8rem">
            Tous les champs marqués d'un <span style="color: red">*</span> sont obligatoires
          </span>
    </div>
    <div class="col-sm-3 ml-sm-auto">
      <button class="btn btn-success btn-block  mr-2" ng-disabled="isSubmit" type="submit">Soumettre</button>
    </div>
  </div>
</form>