<style type="text/css">
  .price {
    color: #f56b2a;
    font-weight: 600;
  }
</style>
<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      var media = $('.media');
      media.each(function (index, element) {
        var mediaImg = $(element).find(".media-img");
        var bgImg = mediaImg.data('bg-image');
        mediaImg.css({
          'background': `#cad1d9 url(${bgImg}}) no-repeat center center`,
          'background-size': 'contain',
          width: mediaImg.data('width'),
          height: mediaImg.data('height'),
          cursor: 'pointer'
        });
        // Evennement quand on click la photo
        mediaImg.on('click', function (ev) {
          var url = mediaImg.data('url');
          if (_.isUndefined(url) || _.isEmpty(url)) return false;
          window.location.href = url;
        });
      });

      $('.price').each(function (index, el) {
        var priceValue = $(el).text().trim();
        $(el).text(new Intl.NumberFormat('de-DE', {
          style: "currency",
          minimumFractionDigits: 0,
          currency: 'MGA'
        }).format(priceValue));
      });
    });
  })(jQuery)
</script>
<div class="row">
  <div class="col-lg-12">
    <h5 class="vc-element-title">{{ title }}</h5>
    <div class="ibox">
      <div class="ibox-body pt-0 pb-0">
        <ul class="media-list media-list-divider">
          {% for annonce in annonces %}
          <li class="media">

            {% if annonce.featured_image is not empty %}
            <div data-bg-image="{{ annonce.featured_image[0] }}"  data-url="{{ annonce.ID | get_permalink }}" class="media-img mr-3"
                 data-height="170" data-width="240">
              <div class="d-none">
                <img src="{{ annonce.featured_image[0] }}" alt="{{ annonce.title }}" >
              </div>
            </div>
            {% endif %}

            <div class="media-body d-flex">
              <div class="flex-1">
                <h5 class="media-heading font-18">
                  <a href="{{ annonce.ID | get_permalink }}">{{ annonce.title }}</a>
                </h5>
                <p class="font-16">à partir de <span class="price">{{ annonce.price }}</span></p>
                <p class="font-13 text-light">{{ annonce.description|striptags|raw[:150] }} [...]</p>
                <div class="font-12">
                  <span class="mr-4">Déposé le <span>{{ annonce.date_publication_format }}</span>
                  </span>
                  <span class="font-bold"><i class="fa fa-map-marker mr-2"></i>{{ annonce.region.name }}</span>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}

          {% if annonces is empty %}
          <li class="media p-0">
            <div class="media-body d-flex">
              <div class="flex-1">
                <p class="font-13 pt-3 text-light">Aucune annonce n'est disponible pour le moment</p>
              </div>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="d-flex align-items-center">
      <a class="m-auto" href="{{ archive_annonce_url }}">
        <button class="btn btn-sm btn-secondary btn-fix">
          <span class="btn-icon">Voir toutes les annonces <i class="la la-plus"></i></span>
        </button>
      </a>
    </div>
  </div>

</div>