<style type="text/css">
    .ibox-container {
      max-width: 400px;
      margin: 0px auto 50px;
    }
  </style>
  <div class="ibox-container uk-margin-large-top">
    <div class="text-center">
    </div>
      <h4 class="font-light text-center uppercase">Désolé</h4>
  
      <div class="card text-center centered mb-4">
        <div class="card-body pt-0">
          <p class="mb-4">Votre CV est déja validé. Pour modifier vos informations, veuillez vous rendre dans votre espace client.
                Vous pouvez aussi voir les offres disponible sur notre site ou publier une annonce. Merci
          </p>
        </div>
      </div>
  
      <div class="text-center mb-4">
        <div class="col-sm-4 d-flex uk-margin-auto">
          <a href="{{ offer_archive }}" class="btn btn-info btn-rounded btn-block">OK</a>
        </div>
  
      </div>
  </div>