<form class="ibox-body p-5" name="pcForm" ng-submit="formSubmit(pcForm.$valid)" novalidate>
  <h4 class="font-light text-center">Créer votre compte itJob</h4>
  <p class="text-center mb-5">Accéder à nos services.</p>

  <div class="alert alert-pink alert-dismissable fade show alert-outline has-icon" ng-show="error">
    <i class="la la-info-circle alert-icon"></i>
    <div class="d-flex align-items-center justify-content-between">
      <div><strong>ERREUR</strong><br>Nom d’utilisateur ou mot de passe non valide.</div>
    </div>
  </div>

  <div class="form-group mb-4">
    <div class="row mb-1">
      <div class="col-md-6 sol-sm-6 mt-2 form-group">
        <label class="form-control-label">Votre prénom</label>
        <input class="form-control" type="text" name="firstname" ng-model="particularForm.firstname" autocomplete="off" placeholder="Prénom" required>
      </div>
      <div class="col-md-6 sol-sm-6 mt-2 form-group">
        <label class="form-control-label">Votre nom</label>
        <input class="form-control" type="text" name="lastname" ng-model="particularForm.lastname" autocomplete="off" placeholder="Nom" required>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-md-6 form-group">
        <div class="form-group" id="birthday">
          <label class="font-normal">Date de naissance</label>
          <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input class="form-control" name="birthdayDate" ng-model="particularForm.birthdayDate" type="text" value="" placeholder="Date de naissance">
          </div>
        </div>
      </div>
    </div>


    <div class="row mb-1">
      <div class="col-md-6 form-group">
        <label class="form-control-label">Adresse</label>
        <input class="form-control" type="text" name="address" ng-model="particularForm.address" autocomplete="off"
               placeholder=""required>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-md-6 form-group">
        <label class="form-control-label">Ville</label>
        <input class="form-control" type="text" name="address" ng-model="particularForm.country" autocomplete="off"
               placeholder=""required>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6 form-group">
        <label class="form-control-label">Région</label>
        <select class="form-control" name="region" ng-model="particularForm.region" title="Région">
          <option></option>
          <option ng-repeat="rg in $ctrl.region" value="{{rg.term_id}}">{{rg.name}}</option>
        </select>
      </div>
    </div>


    <div class="row mb-1">
      <div class="col-md-6 form-group">
        <label class="form-control-label">Votre adresse email</label>
        <input class="form-control" type="text" name="email" ng-mail="particularForm.email" ng-model="particularForm.email" autocomplete="off"
               placeholder="Votre adresse email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
      </div>
    </div>

    <div class="row mb-1 form-group">
      <div class="col-md-6 sol-sm-6 mt-1">
        <label class="form-control-label">Mot de passe</label>
        <input class="form-control" type="password" name="pwd" ng-model="particularForm.pwd" autocomplete="off"
               ng-pattern="/^(?=.*[A-Z])(?=.*\d)[A-Za-z\d$@$!%*#?&]{8,20}$/" required>
        <span class="help-block uk-text-small">Utilisez au moins 8 caractères avec des lettres, des chiffres et des symboles</span>
      </div>
      <div class="col-md-6 sol-sm-6 mt-1">
        <label class="form-control-label">Confirmez le mot de passe.</label>
        <input class="form-control" compare-to="particularForm.pwd" type="password" name="pwdc" ng-model="particularForm.pwdc" autocomplete="off" required>
      </div>
    </div>


  </div>
  <div class="text-center mb-4">
    <div class="d-flex justify-content-center">
      <button class="btn btn-success btn-rounded btn-block col-md-4" type="submit" ng-disabled="buttonDisable">S'INSCRIRE</button>
    </div>

  </div>
</form>
<div class="ibox-footer">
  <p class="text-center"><a href="{{ uri.singup }}" class="text-blue ml-2">Se connecter à un compte existant</a></p>
</div>