<form class="ibox-body p-5" name="pcForm" ng-submit="formSubmit(pcForm.$valid)" novalidate>
  <h4 class="font-light text-center">Créer votre compte itJob</h4>
  <p class="text-center mb-4">Accéder à nos services.</p>

  <div class="ibox-header">
    <p class="text-center">Si vous avez déjà un compte 
      <a href="{{ uri.singin }}?redir={{uri.redir}}" class="text-blue font-bold ml-2"> Se connecter à un compte existant</a>
    </p>
  </div>
  <hr>

  <div class="alert alert-warning alert-dismissable fade show  has-icon" ng-show="error">
    <i class="la la-info-circle alert-icon"></i>
    <div class="d-flex align-items-center justify-content-between">
      <div><strong>ERREUR</strong><br>
        Une erreur s’est produite. Veuillez remplir correctement les champs en rouge</div>
    </div>
  </div>

  <div class="form-group mb-4">

    <div class="row mb-4">
      <div class="col-sm-3 d-flex align-items-center">
        <label class="radio radio-grey radio-primary radio-inline">
          <input type="radio" name="greeting" ng-model="particularForm.greeting" value="mr" required>
          <span class="input-span"></span>Monsieur</label>

        <label class="radio radio-grey radio-primary radio-inline">
          <input type="radio" name="greeting" ng-model="particularForm.greeting" value="mrs">
          <span class="input-span"></span>Madame</label>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-md-6 sol-sm-6 mt-2 form-group">
        <label class="form-control-label">Votre prénom <span style="color: red">*</span></label>
        <input class="form-control" type="text" name="firstname" ng-model="particularForm.firstname" autocomplete="off" placeholder="Prénom" required>
        <div ng-messages="pcForm.firstname.$error" ng-show="pcForm.firstname.$invalid && pcForm.firstname.$touched"
             class="alert alert-pink" role="alert">
          <div ng-message="required">Veuillez saisir votre prénom.</div>
        </div>
      </div>
      <div class="col-md-6 sol-sm-6 mt-2 form-group">
        <label class="form-control-label">Votre nom <span style="color: red">*</span></label>
        <input class="form-control" type="text" name="lastname" ng-model="particularForm.lastname" autocomplete="off" placeholder="Nom" required>
        <div ng-messages="pcForm.lastname.$error" ng-show="pcForm.lastname.$invalid && pcForm.lastname.$touched"
             class="alert alert-pink" role="alert">
          <div ng-message="required">Veuillez saisir votre nom.</div>
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-md-6 form-group">
        <div class="form-group" id="birthday">
          <label class="font-normal">Date de naissance <span style="color: red">*</span></label>
          <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input class="form-control" name="birthdayDate" readonly="readonly" ng-model="particularForm.birthdayDate" type="text" value="" autocomplete="off" placeholder="Date de naissance">
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6 form-group">
        <label class="form-control-label">Région <span style="color: red">*</span></label>
        <select class="form-control find" name="region" ng-model="particularForm.region" title="Région" required>
          <option></option>
          <option ng-repeat="rg in formulaire.region" value="{{rg.term_id}}">{{rg.name}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6 form-group">
        <label class="form-control-label">Code postal ou nom d'une ville <span style="color: red">*</span></label>
        <select class="form-control input-mode country"
                ng-disabled="!particularForm.region"
                name="country"
                ng-model="particularForm.country"
                title="Tapez le nom d'un ville"
                required>
          <option></option>
          <option value="{{city.term_id}}" ng-repeat="city in formulaire.allCity">({{city.postal_code}}) {{city.name}}</option>
        </select>
        <span ng-if="!particularForm.region" class="text-muted small">Sélectionnez une region avant d'ajouter une ville</span>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-md-8 form-group">
        <label class="form-control-label">Adresse <span style="color: red">*</span></label>
        <input class="form-control" type="text" name="address" ng-model="particularForm.address" autocomplete="off"
               placeholder="" required>
        <div ng-messages="pcForm.address.$error" ng-show="pcForm.address.$invalid && pcForm.address.$touched"
             class="alert alert-pink" role="alert">
          <div ng-message="required">Veuillez saisir une adresse.</div>
        </div>
      </div>
    </div>

    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Numéros de téléphone <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <div ng-form="setPhone" ng-repeat="phone in particularForm.cellphone track by phone.id" class="form-group row">
          <div class="col-sm-10 pr-0">
            <input class="form-control mt-1" name="cellphone" ng-model="phone.value" type="text"
                   ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/"
                   placeholder="Numéro de téléphone" required>

            <div ng-messages="setPhone.cellphone.$error" role="alert" class="input-message-animation"
                 ng-show="setPhone.cellphone.$invalid && setPhone.cellphone.$touched">
              <div ng-message="required" class="alert alert-danger d-block mt-1">Veuillez saisir un numero de téléphone.</div>
              <div ng-message="pattern" class="alert alert-danger d-block mt-1">Numéro de téléphone invalide</div>
            </div>

          </div>
          <div class="col-sm-2">
            <button class="btn btn-outline-success btn-icon-only btn-sm mt-2" tabindex="0"
                    data-toggle="tooltip" ng-show="!$first" data-placement="left" title="Enlever ce numero"
                    ng-click="removePhone(phone.id)">
              <i class="la la-minus-circle"></i></button>
          </div>
        </div>

        <button class="btn btn-outline-success btn-icon-only btn-sm mt-2" data-placement="right"
                data-toggle="tooltip" title="Ajouter un numero" ng-click="addPhone()"><i
          class="la la-plus-circle"></i></button>

        <p class="mt-4 mention-text">
          Ajouter les numéros téléphone un par un.
          <br>Cliquez sur le bouton « + » pour joindre un autre numéro.
          <span class="mt-1 d-block"></span>
          <br>Les formats de numéros de téléphone validé intègrent les préﬁxes suivants (034 ... ou 039...).
        </p>
      </div>
    </div>


    <div class="row mb-1">
      <div class="col-md-6 form-group">
        <label class="form-control-label">Votre adresse email <span style="color: red">*</span></label>
        <input class="form-control" type="text" name="email" ng-mail="particularForm.email" ng-model="particularForm.email" autocomplete="off"
               placeholder="Votre adresse email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
        <div ng-messages="pcForm.email.$error" ng-show="pcForm.email.$invalid && pcForm.email.$touched"
             class="alert alert-pink" role="alert">
          <div ng-message="required">Veuillez saisir une adresse email.</div>
          <div ng-message="pattern">Vérifiez l'adresse email, ce format n'est pas valide.</div>
          <div ng-message="mail">Adresse email valide refusée ou déjà enregistrée pour un autre compte.</div>
        </div>
      </div>
    </div>

    <div class="row mb-1 form-group">
      <div class="col-md-6 sol-sm-6 mt-1">
        <label class="form-control-label">Mot de passe <span style="color: red">*</span></label>
        <input class="form-control" type="password" name="pwd" ng-model="particularForm.pwd" autocomplete="off"
               ng-pattern="/^(?=(.*\d){2})(?=.*[a-z])(?=.*[A-Z]).{8,}$/" placeholder="Ex: Papaparse29" required>
        <div ng-messages="pcForm.pwd.$error" ng-show="pcForm.pwd.$invalid && pcForm.pwd.$touched"
             class="alert alert-pink" role="alert">
          <div ng-message="required">Veuillez saisir votre mot de passe.</div>
          <div ng-message="pattern">Votre mot de passe doit comporter 8 caractères minimum, 
            comprenant des chiffres et des lettres minuscules et majuscules,ainsi qu'un caractère spécial (-*/@+\_%$=).</div>
        </div>
        <span class="text-muted help-block font-11 mt-2">Votre mot de passe doit comporter 8 caractères minimum, 
          comprenant des chiffres et des lettres minuscules et majuscules,ainsi qu'un caractère spécial (-*/@+\_%$=).</span>
      </div>
      <div class="col-md-6 sol-sm-6 mt-1">
        <label class="form-control-label">Confirmez le mot de passe.</label>
        <input class="form-control" compare-to="particularForm.pwd" type="password" name="pwdc" ng-model="particularForm.pwdc" autocomplete="off" required>
      </div>
    </div>
  </div>

  <div class="text-center mb-4 mt-5">
    <div class="d-flex justify-content-center">
      <button class="btn btn-success btn-rounded btn-block col-md-4" type="submit" ng-disabled="buttonDisable">S'INSCRIRE</button>
    </div>
  </div>

</form>
