<style type="text/css">

</style>

<div id="{{ id }}" class="accordion-blue">
    <ul uk-accordion>
      {% for content in $contents %}
      <li class="uk-open">
        <a class="uk-accordion-title" href="#">{{content.post_title}}</a>
        <div class="uk-accordion-content">
          {{content.post_content|raw}}
        </div>
      </li>
      {% endfor %}
    </ul>
</div>