<!-- BEGIN PAGA BACKDROPS-->
<div class="sidenav-backdrop backdrop"></div>
<div class="preloader-backdrop" style="background-color: rgba(255, 255, 255, 0.73) !important;">
  <div class="page-preloader">Loading</div>
</div>
<!-- END PAGA BACKDROPS-->
<form name="form" ng-submit="submitForm(form)" class="form-horizontal p-5" novalidate>
  <div class="page-heading mb-4">
    <h4 class="page-title">PUBLIER UNE ANNONCE</h4>
  </div>
  <hr>
  <div class="ibox-body">
    <div class="form-group mb-4 row ">
      <label class="col-sm-4 col-form-label ">Type d'annonce <span style="color: red">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select ng-change="loadScript()" class="form-control no-select2" name="type_annonce" ng-model="annonce.type_annonce" ng-value="annonce.type_annonce" title="Type" required>
            <option value=""></option>
            <option value="1">Prestation service ou Travail temporaire</option>
            <option value="2">Autres type d'annonce</option>
          </select>
          <div class="input-message-animation" ng-if="form.type_annonce.$touched && form.type_annonce.$error.required">Ce champ est obligatoire.</div>
        </div>
      </div>
    </div>
    <div ng-show="annonce.type_annonce == 2">
      <div class="form-group mb-4 row ">
        <label class="col-sm-4 col-form-label ">Categorie <span style="color: red">*</span></label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control categorie" name="categorie" ng-model="annonce.categorie" ng-value="" title="Categorie"
                    ng-required="annonce.type_annonce == 2" required>
              <option></option>
              <option ng-repeat="categorie in categories" value="{{ categorie.term_id }}">{{ categorie.name }}</option>
            </select>
            <div class="input-message-animation" ng-if="form.categorie.$touched && form.categorie.$error.required">Ce champ est obligatoire.</div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="annonce.type_annonce">
      <div class="form-group mb-4">
        <div class="row mb-4">
          <div class="col-sm-8 align-items-center">
            <label class="radio radio-grey radio-primary radio-inline">
              <input type="radio" name="type" ng-model="annonce.type" value="1" required>
              <span class="input-span"></span><b>Offre</b> (Vous proposez {{annonce.type_annonce == 2 ? 'un bien' : 'vos services'}})</label>

            <label class="radio radio-grey radio-primary mt-3 radio-inline">
              <input type="radio" name="type" ng-model="annonce.type" value="2">
              <span class="input-span"></span><b>Demande</b> (Vous recherchez {{annonce.type_annonce == 2 ? 'un bien' : 'une aide'}} )</label>
          </div>
        </div>
      </div>
      <div class="form-group mb-4 row">
        <label class="col-sm-4 col-form-label">Titre de l'annonce <span style="color: red">*</span></label>
        <div class="col-sm-6">
          <input class="form-control" name="title" ng-model="annonce.title" type="text" autocomplete="off" placeholder="Titre de l'annonce"
                 required>
          <div ng-messages="form.title.$error" role="alert" class="input-message-animation"
               ng-show="form.title.$invalid && form.title.$touched">
            <div ng-message="required">Titre de l'annonce est obligatoire.</div>
          </div>
        </div>
      </div>
      <div class="form-group mb-4 row ">
        <label class="col-sm-4 col-form-label ">Region <span style="color: red">*</span></label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" name="region" ng-model="annonce.region" ng-value="" title="Region" required>
              <option></option>
              <option ng-repeat="region in regions" value="{{ region.term_id }}">{{ region.name }}</option>
            </select>
            <div class="input-message-animation" ng-if="form.region.$touched && form.region.$error.required">Ce champ est obligatoire.</div>
          </div>
        </div>
      </div>
      <div class="form-group mb-4 row">
        <label class="col-sm-4 col-form-label">Code postal ou nom d'une ville <span style="color: red">*</span></label>
        <div class="col-md-8 form-group">
          <select class="form-control input-mode country" name="town" ng-model="annonce.town" ng-disabled="!annonce.region" ng-value="" required>
            <option></option>
            <option value="{{ town.term_id }}" ng-repeat="town in allCity|filter:searchCityFn">({{ town.postal_code }}) {{ town.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group mb-4 row">
        <label class="col-sm-4 col-form-label">Adresse physique de l'annonce <span style="color: red">*</span></label>
        <div class="col-sm-8">
          <input class="form-control" name="address" ng-model="annonce.address"  type="text" placeholder="Adresse"
                 required>
          <div ng-messages="form.address.$error" role="alert" class="input-message-animation"
               ng-show="form.address.$invalid && form.address.$touched">
            <div ng-message="required">Le champ adresse est obligatoire.</div>
          </div>
          <p class="mention-text mt-1">Cette donnée n’est jamais partagée et utilisée uniquement pour la gestion de votre compte</p>
        </div>
      </div>
      <div class="form-group mb-4 row">
        <label class="col-sm-4 col-form-label">Budget </label>
        <div class="col-sm-6">
          <p class="mb-1 font-13">A partir de </p>
          <input class="form-control" name="price" ng-model="annonce.price" type="number" placeholder="Budget en ariary (MGA)">
        </div>
      </div>

      <div class="form-group mb-4 row " ng-if="annonce.type_annonce == 1">
        <label class="col-sm-4 col-form-label ">Secteur d'activité</label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" name="activity_area" ng-model="annonce.activity_area"
                    title="Secteur d'activité" required>
              <option></option>
              <option ng-repeat="abranch in abranchs" value="{{ abranch.term_id }}">{{ abranch.name }}</option>
            </select>
            <div class="input-message-animation" ng-if="form.activity_area.$touched && form.activity_area.$error.required">Ce champ est obligatoire.</div>
          </div>
        </div>
      </div>

      <div class="form-group mb-4 row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="form-label font-14 font-bold">Description <span style="color: red">*</span></div>
            <div class="text-muted">
              Aucune coordonnée, ni nom d'entreprise ne peuvent être indiqués dans votre annonce
            </div>
            <div class="mt-2">
              <textarea ng-model="annonce.description" ui-tinymce="tinymceOptions" placeholder="Description" name="description"></textarea >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox-body ibox-footer">
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Email joignable pour cette annonce<span style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" name="email" ng-model="annonce.email"
               ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
               type="text" placeholder="Ex: exemple@mail.com" required>
        <div id="text-loading" class="badge badge-warning" style="font-size: 10px; margin-top: 2px">Chargement en cours ...</div>
        <div ng-messages="form.email.$error" role="alert" class="input-message-animation"
             ng-show="form.email.$invalid && form.email.$touched">
          <div ng-message="required">Adresse email est obligatoire.</div>
          <div ng-message="pattern">Veuillez entrer une adresse e-mail valide</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label class="col-sm-4 col-form-label">Numero de téléphone <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <input class="form-control" name="phone" ng-model="annonce.phone" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" type="text"
               placeholder="Numéro de téléphone joignable" required>
        <div ng-messages="form.phone.$error" role="alert" class="input-message-animation"
             ng-show="form.phone.$invalid && form.phone.$touched">
          <div ng-message="pattern">Numéro de téléphone invalide</div>
          <div ng-message="required">Ce champ est obligatoire</div>
        </div>
      </div>
    </div>
    <div ng-show="annonce.type_annonce == 2" class="form-group d-flex mb-4 row">
      <label class="col-sm-4 col-form-label">Image en avant <span style="color: red">*</span></label>
      <div class="col-sm-6">
        <div class="p-relative">
          <div style="width: 125px; bottom: -62px;">
            <button type="file" ngf-select="uploadFile($file, $invalidFiles)" accept="image/*" class="btn"
                    ngf-max-size="2MB">Choisir un fichier</button>
          </div>
          <div class="add-new-picture">
            <img style="width: 150px;margin-top: 5px;" ng-src="{{featuredImage.src}}">
          </div>
        </div>
      </div>
    </div>

    <div ng-show="annonce.type_annonce == 2" class="form-group d-flex mb-4 row">
      <div class="col-sm-12">
        <div class="p-relative">
          <div style="width: 125px; bottom: -62px;" class="d-inline">
            <button type="file" ngf-select="uploadFiles($files, $invalidFiles)"  ngf-multiple="true" accept="image/*"
                    class="btn" ngf-max-size="2MB">Choisir des fichiers</button>
            <button ng-if="gallery.length > 0" ng-click="cleanGallery()" type="button" class="btn btn-danger">Effacer</button>
          </div>
          <div>
            <p class="text-muted">Ajouter des galeries photos pour votre annonce</p>
          </div>
          <div>
            <div class="add-new-picture gallery" ng-repeat="img in gallery">
              <img style="width: 150px;margin-top: 5px;"  ng-src="{{ img.src }}">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="ibox-footer row">
    <div class="col-sm-9 d-flex align-items-center">
          <span class="text-muted text-left" style="font-size: 0.8rem">
            Tous les champs marqués d'un <span style="color: red">*</span> sont obligatoires
          </span>
    </div>
    <div class="col-sm-3 ml-sm-auto">
      <button class="btn btn-success btn-block  mr-2" ng-disabled="isSubmit" type="submit">Suivant</button>
    </div>
  </div>
</form>

<style type="text/css">
  .add-new-picture.gallery {
    float: left;
    margin-right: 7px;
  }
</style>