<div class="form-horizontal p-5">
  <div class="page-heading mb-4">
    <h4 class="page-title">ANNONCE PUBLIER AVEC SUCCES</h4>
    <h6>Votre annonce sera vérifiée avant d’être publié, vous serez notifié par email un fois l'annonce publier.</h6>
  </div>
  <hr>
  <div class="ibox-body">
  <div class="row">
    <div class="col-sm-4">
      <a ng-href="{{helpers.home_url}}" class="btn d-block btn-primary">Accueil</a>
    </div>
    <div class="col-sm-4">
      <a ng-href="{{helpers.client_area_url}}" class="btn d-block btn-primary">Espace clients</a>
    </div>
    <div class="col-sm-4">
      <a ng-href="{{helpers.archive_annonce_url}}" class="btn d-block btn-primary">Voir les annonces</a>
    </div>
  </div>
  </div>
</div>