<style type="text/css">
  .form-group .form-control {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    border-color: rgba(0, 0, 0, 0.74);
  }
  .uk-modal-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
  }
  .col-form-label {
    font-size: 13px;
  }
  .ibox .ibox-head {
    background-color: #34495f;
    color: aliceblue;
  }

  .paiement-process,
  .edit-formation,
  .edit-position,
  .view-candidate{
    cursor: pointer;
  }

  .paiement-process:hover,
  .edit-position:hover {
    background-color: #4cae4c;
    color: white;
  }

  .preloader-backdrop {
    background-color: transparent !important;
  }

  .preloader-backdrop .page-preloader {
    background-color: #f39c12;
    color: aliceblue;
    border-radius: 20px;
  }
  .preloader-backdrop .page-preloader::before {
    border-top: 2px solid #ffffff !important;
  }

  .icon-pill i {
    background: #5c6bc0;
    padding: 5px;
    padding-top: 6px;
    border-radius: 15px;
    color: aliceblue;
  }

</style>
<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
    });
  })(jQuery);
</script>
<div class="page-header mt-5" ng-app="clientApp">
  <ui-view>
    <div class="mt-4 pt-4 ">
      <h4 class="font-light text-center">Espace client</h4>
      <p class="text-center pb-4">Chargement...</p>
    </div>
  </ui-view>
</div>