<style type="text/css">
  .form-group .form-control {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
  }
  .uk-modal-title {
    font-family: 'Montserrat', sans-serif;
  }
  .col-form-label {
    font-size: 13px;
  }
  .ibox .ibox-head {
    background-color: #34495f;
    color: aliceblue;
  }
  .dropdown-menu .dropdown-item, .dropdown-menu > li > a {
    color: #34495f !important;
  }

</style>
<script type="text/javascript">

</script>
<div class="page-header mt-5" ng-app="clientApp">
  <div class="ibox flex-1" >
    <div ng-view></div>
  </div>
</div>