<style type="text/css">
  .form-group .form-control {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
  }
  .uk-modal-title {
    font-family: 'Montserrat', sans-serif;
  }
  .col-form-label {
    font-size: 13px;
  }
</style>
<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      var table = $('#products-table').DataTable({
        pageLength: 10,
        fixedHeader: false,
        responsive: true,
        "sDom": 'rtip',
        language: {
          url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
        }
      });
      $('#key-search').on('keyup', function () {
        table.search(this.value).draw();
      });
      // $('#type-filter').on('change', function () {
      //   table.column(2).search($(this).val()).draw();
      // });
    });

  })(jQuery);
</script>
<div class="page-header mt-5" ng-app="clientApp">
  <div class="ibox flex-1" ng-controller="clientCompanyCtrl">
    <div class="ibox-body">
      <div class="flexbox">
        <div class="flexbox-b">
          <div>
            <h4>{{ client.title|capitalize }}</h4>
            <div class="text-muted font-13 mb-3">
              <span class="mr-3"><i class="ti-location-pin mr-2"></i>{{ client.address|capitalize }}</span>
              <span><i class="ti-calendar mr-2"></i>{{ client.addDate|capitalize }}</span>
            </div>
            <div>
              <span class="mr-3">
                <span class="badge badge-success badge-circle mr-2 font-14" style="height:30px;width:30px;">
                  <i class="ti-user"></i>
                </span>
                Entreprise
              </span>
            </div>
          </div>
        </div>
        <div class="d-inline-flex">
          <div class="px-4 text-center">
            <div class="text-muted font-13">OFFRE(S)</div>
            <div class="h2 mt-2">[[countOffer]]</div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs tabs-line m-0 pl-3 pr-3">
      <li class="nav-item">
        <a class="nav-link active" href="#profil" data-toggle="tab">
          Profil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#offers" data-toggle="tab">
          Mes offres
        </a>
      </li>
    </ul>

    <div class="tab-content" ng-show="loading">
      <div class="d-block mt-5 mb-5">
        <div class="row">
          <div class="col-md-4 m-auto">
            <div class="text-center">
              <img src="{{ Helper['template_url'] }}/img/loading.gif" width="45" />
              <p>Chargement de contenue ...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content" ng-show="!loading">
      {# Profil utilisateur #}
      <div class="tab-pane fade active show" id="profil">
        <div class="page-content">
          <div class="ibox-body">
            <div class="row">
              <div class="col-sm-6">
                <general-information
                  abranchs="asyncTerms('branch_activity')"
                  regions="asyncTerms('region')"
                  all-city="asyncTerms('city')"
                  init="Initialize()"
                  company="Company">

                </general-information>
              </div>

              <div class="col-sm-6">
                <div class="ibox-body">
                  <h5 class="font-strong mb-4">BIOGRAPHY</h5>
                  <p>Lorem Ipsum Aliqua id consequat laborum incididunt adipiscing ut consectetur dolor voluptate non est ex dolore voluptate fugiat adipiscing qui deserunt nisi magna irure tempor non cupidatat amet fugiat est ad sint adipiscing
                    est officia cillum consectetur reprehenderit non.</p>
                </div>

                <div class="alert-content">
                  <div class="ibox-body">
                    <h5 class="font-strong mb-4">Créer une alerte</h5>
                    <p>Je souhaite être informé quand un candidat comporte les mots suivants dans ces informations:</p>

                    <tags-input ng-model="alerts" placeholder="Alerte" replace-spaces-with-dashes="false">
                    </tags-input>

                    <div>
                      <button class="btn btn-success" ng-click="onSaveAlert()" ng-disabled="alertLoading">Valider</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>


          </div>
        </div>
      </div>
      {# .end Profil utilisateur#}

      {# Les offres #}
      <div class="tab-pane fade text-center" id="offers">
        <div class="page-content">
          <div class="ibox-body">
            <offer-lists 
              offers="offerLists"
              init="Initialize()"
              company="Company" 
              abranchs="asyncTerms('branch_activity')" 
              regions="asyncTerms('region')" 
              all-city="asyncTerms('city')">
            </offer-lists>

          </div>
        </div>
      </div>
      {# .end offres#}

    </div>
  </div>
</div>