<style type="text/css">
  .form-group .form-control {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    border-color: rgba(0, 0, 0, 0.74);
  }

  .ng-dirty.ng-invalid,
  .ng-touched.ng-invalid,
  form.ng-submitted .ng-pristine.ng-invalid{
    border-color: #f75a5f;
  }

  .uk-modal-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
  }
  .col-form-label {
    font-size: 13px;
  }
  .ibox .ibox-head {
    background-color: #34495f;
    color: aliceblue;
  }
  experiences .dropdown-menu .dropdown-item, .dropdown-menu > li > a,
  trainings .dropdown-menu .dropdown-item, .dropdown-menu > li > a {
    color: #34495f !important;
  }
  ol.language-list {
    list-style-type: disc;
  }
  ol.language-list  li {
    margin-right: 32px;
    float: left;
  }
</style>
<script type="text/javascript">

</script>
<div class="page-header mt-5" ng-app="clientApp" >
  <div class="ibox flex-1" >
    <div ng-view>
      <div class="mt-5 pt-5 pb-5">
        <h4 class="font-light text-center">Espace Client</h4>
        <p class="text-center mb-5">Chargement en cours...</p>
      </div>
    </div>
  </div>
</div>