<style type="text/css">
  .form-group .form-control {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    border-color: rgba(0, 0, 0, 0.74);
  }
  .uk-modal-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
  }
  .col-form-label {
    font-size: 13px;
  }
  .ibox .ibox-head {
    background-color: #34495f;
    color: aliceblue;
  }
</style>
<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
    });
  })(jQuery);
</script>
<div class="page-header mt-5" ng-app="clientApp">
  <div class="ibox flex-1">
    <div ng-view></div>
  </div>
</div>