<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      var table = $('#products-table').DataTable({
        pageLength: 10,
        fixedHeader: false,
        responsive: true,
        "sDom": 'rtip',
        language: {
          url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
        }
      });
      $('#key-search').on('keyup', function () {
        table.search(this.value).draw();
      });
      // $('#type-filter').on('change', function () {
      //   table.column(2).search($(this).val()).draw();
      // });
    });

  })(jQuery);
</script>
<div class="page-header">
  <div class="ibox flex-1">
    <div class="ibox-body">
      <div class="flexbox">
        <div class="flexbox-b">
          <div>
            <h4>{{ client.title }}</h4>
            <div class="text-muted font-13 mb-3">
              <span class="mr-3"><i class="ti-location-pin mr-2"></i>{{ client.address|capitalize }}</span>
              <span><i class="ti-calendar mr-2"></i>{{ client.addDate|capitalize }}</span>
            </div>
            <div>
              <span class="mr-3">
                <span class="badge badge-primary badge-circle mr-2 font-14" style="height:30px;width:30px;">
                  <i class="ti-user"></i>
                </span>
                Entreprise
              </span>
            </div>
          </div>
        </div>
        <div class="d-inline-flex">
          <div class="px-4 text-center">
            <div class="text-muted font-13">OFFRES</div>
            <div class="h2 mt-2">134</div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs tabs-line m-0 pl-3 pr-3">
      <li class="nav-item">
        <a class="nav-link" href="#profil" data-toggle="tab">
          <i class="ti-briefcase mr-2"></i>
          Information générale
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#offers" data-toggle="tab">
          <i class="ti-support mr-2"></i>
          Mes offres
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade text-center" id="profil">
        <div class="h1 mt-5 mb-3">TAB 1</div>
        <p class="mb-5">Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et
          ullamco in pariatur dolor quis laboris ut.</p>
      </div>

      <div class="tab-pane fade text-center active show" id="offers">
        <div class="page-content">
          <div class="ibox-body">
            <div class="flexbox mb-4">
              <div class="flexbox">
                <div class="input-group-icon input-group-icon-left mr-3">
                  <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                  <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text"
                         placeholder="Rechercher ...">
                </div>
                <a class="btn btn-primary" href="{{ url['add_offer'] }}">Ajouter une offre</a>
              </div>
            </div>
            <div class="table-responsive row">
              <table class="table table-bordered table-hover" id="products-table">

                <thead class="thead-default thead-lg">
                  <tr>
                  <th>ID</th>
                  <th>Product</th>
                  <th>Category</th>
                  <th>Price</th>
                  <th>SKU</th>
                  <th>Quantity</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      Samsung UE32M5503AUX
                    </td>
                    <td>TV & Video</td>
                    <td>$425</td>
                    <td>F0522</td>
                    <td>
                      <span class="badge badge-danger badge-pill">Out of stock</span>
                    </td>
                    <td>
                      <a class="text-light mr-3 font-16" href="javascript:;"><i class="ti-pencil"></i></a>
                      <a class="text-light font-16" href="javascript:;"><i class="ti-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      Dell XPS 13 2-in-1
                      9365-4429
                    </td>
                    <td>Computers & Tablets</td>
                    <td>$1636</td>
                    <td>A1274</td>
                    <td>120</td>
                    <td>
                      <a class="text-light mr-3 font-16" href="javascript:;"><i class="ti-pencil"></i></a>
                      <a class="text-light font-16" href="javascript:;"><i class="ti-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      Evaflor "Whisky"
                    </td>
                    <td>Health & Beauty</td>
                    <td>$12</td>
                    <td>A5474</td>
                    <td>148</td>
                    <td>
                      <a class="text-light mr-3 font-16" href="javascript:;"><i class="ti-pencil"></i></a>
                      <a class="text-light font-16" href="javascript:;"><i class="ti-trash"></i></a>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>