<style type="text/css">
  .import-csv-container {
    max-width: 450px;
    height: auto;
    margin: 0px auto 50px;
  }
  .form-control {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
  }
</style>
<div class="page-header mt-5" ng-app="importCSVModule">
  <ui-view>
    <div class="mt-5 pt-5">
      <h4 class="font-light text-center">Importer un CSV</h4>
      <p class="text-center mb-5">Chargement du formulaire...</p>
    </div>
  </ui-view>
</div>