<style type="text/css">
  input.form-control {
    font-family: Poppins !important;
  }

  .login-content {
    max-width: 400px;
    margin: 0px auto 50px;
  }
  .ng-dirty.ng-invalid {
    border-color: #f75a5f;
  }

  .auth-head-icon {
    position: relative;
    height: 124px;
    width: 124px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: transparent;
    color: #5c6bc0;
    box-shadow: none;
    border-radius: 50%;
    transform: none;
    z-index: 2;
  }
</style>

<div class="ibox login-content" ng-app="formLogin" ng-controller="loginCtrl">
  <div class="text-center">

    <span class="auth-head-icon">
      <img src="{{ uri.theme }}/img/user.png" />
    </span>
  </div>
  <form class="ibox-body" name="loginForm" ng-submit="formSubmit(loginForm.$valid)" novalidate>
    <h4 class="font-light text-center">Connexion <span class="text-danger">{{ title }}</span></h4>
    <p class="text-center mb-5">Accédez à vos services itJob avec un seul compte.</p>

    <div class="alert alert-pink alert-dismissable fade show alert-outline has-icon" ng-show="error">
      <i class="la la-info-circle alert-icon"></i>
      <div class="d-flex align-items-center justify-content-between">
        <div><strong>ERREUR</strong><br>Nom d’utilisateur ou mot de passe non valide.</div>
      </div>
    </div>

    <div class="form-group mb-4">
      <input class="form-control " type="text" name="login" ng-model="login" autocomplete="off"
             placeholder="Votre adresse email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
    </div>
    <div class="form-group mb-4">
      <input class="form-control " type="password" name="pwd" ng-model="pwd" autocomplete="off"
             placeholder="Mot de passe" required>
    </div>
    <div class="flexbox mb-5">
      <span>
        <label class="ui-switch switch-icon mr-2 mb-0">
          <input type="checkbox" name="rememberme" ng-model="rememberme" checked="false">
          <span></span>
        </label>
        Se souvenir de moi
      </span>
      <a class="text-primary" href="forgot_password.html">Mot de passe oublié ?</a>
    </div>
    <div class="text-center mb-4">
      <button class="btn btn-danger btn-rounded btn-block" type="submit" ng-disabled="buttonDisable">SE CONNECTER</button>
    </div>
  </form>

  <div class="ibox-footer">
    <p class="text-center">Nouvel utilisateur? <a href="{{ uri.singup }}" class="text-blue ml-2">Créez votre compte</a></p>
  </div>
</div>