
<div class="container container-offers uk-padding-remove">
  <h5 class="container-offers-title">{{ title }}</h5>
  <div class="row mb-5">

    <div class="col-md-3 col-sm-6 row-offer">
      <div class="card ibox mb-4">
        <div class="card-body">
          <h4 class="card-title mb-4">
            <a href="#">Dish of the day</a>
          </h4>
          <div class="">
            <h4 class="card-title uk-margin-remove">Mission: </h4>
            <p class="text-description mt-2">
              Minim dolor in amet nulla laboris enim dolore consequat proident fugiat
              culpa eiusmod proident sed excepteur.
            </p>
          </div>
          <div class="card-information pt-3">
            <div class="card-info">
              Date limite: 31/08/2018
            </div>
            <div class="card-info pt-1">
              Référence: BTP1328
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              Voir l'offre
            </div>
            <div>
              <a href="#" class="view"><i class="la la-plus-circle"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 row-offer">
      <div class="card ibox mb-4">
        <div class="card-body">
          <h4 class="card-title mb-4">
            <a href="#">Title of the news</a>
          </h4>
          <div class="">
            <h4 class="card-title uk-margin-remove">Mission: </h4>
            <p class="text-description mt-2">Minim dolor in amet nulla laboris enim dolore consequat proident fugiat
              culpa eiusmod
              proident sed excepteur.</p>
          </div>
          <div class="card-information pt-3">
            <div class="card-info">
              Date limite: 31/08/2018
            </div>
            <div class="card-info pt-1">
              Référence: BTP1328
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              Voir l'offre
            </div>
            <div>
              <a href="#" class="view"><i class="la la-plus-circle"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 row-offer">
      <div class="card ibox mb-4">
        <div class="card-body">
          <h4 class="card-title mb-4">
            <a href="#">Title of the news</a>
          </h4>
          <div class="">
            <h4 class="card-title uk-margin-remove">Mission: </h4>
            <p class="text-description mt-2">Minim dolor in amet nulla laboris enim dolore consequat proident fugiat
              culpa eiusmod
              proident sed excepteur.</p>
          </div>
          <div class="card-information pt-3">
            <div class="card-info">
              Date limite: 31/08/2018
            </div>
            <div class="card-info pt-1">
              Référence: BTP1328
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              Voir l'offre
            </div>
            <div>
              <a href="#" class="view"><i class="la la-plus-circle"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 row-offer">
      <div class="card ibox mb-4">
        <div class="card-body">
          <h4 class="card-title mb-4">
            <a href="#">Title of the news</a>
          </h4>
          <div class="">
            <h4 class="card-title uk-margin-remove">Mission: </h4>
            <p class="text-description mt-2">Minim dolor in amet nulla laboris enim dolore consequat proident fugiat
              culpa eiusmod
              proident sed excepteur.</p>
          </div>
          <div class="card-information pt-3">
            <div class="card-info">
              Date limite: 31/08/2018
            </div>
            <div class="card-info pt-1">
              Référence: BTP1328
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              Voir l'offre
            </div>
            <div>
              <a href="#" class="view"><i class="la la-plus-circle"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>