<style type="text/css">
  form[name='formOffer'] .form-control {
    font-family: Poppins !important;
    font-size: .92rem;
  }
  .ng-dirty.ng-invalid, .ng-touched.ng-invalid {
    border-color: #f75a5f;
  }
</style>
<div class="mt-5">
  {#<h4 class="m-0">{{ title }}</h4>#}
  <div class="mt-4"></div>
  <div class="ibox" ng-app="addOfferApp">
    <ui-view>
      <div style="min-height: 30em; width: 100%;" class="uk-flex">
        <div class="uk-margin-auto-vertical uk-margin-auto">
          <img ng-src="{{ template_url }}/img/loading.gif" class="uk-flex uk-logo uk-margin-auto-vertical"
               style="margin: auto" width="50"/>
          <div class="text-center">Chargement en cours ...</div>
        </div>
      </div>
    </ui-view>
  </div>
</div>
