<style type="text/css">
  .container-list-offers .card .card-overlay-fab {
    bottom: -30px;
  }

  .vc-element-title {
    text-transform: uppercase;
    font-weight: bold;
  }

  .container-list-offers h4.card-title {
    font-size: 16px;
  }

  .container-list-offers .card .card-description p {
    font-size: 12px;
  }

  .container-list-offers .card .card-description td {
    font-size: 12px;
    padding: .1rem;
    border-top: none;
    vertical-align: top;
  }

  .container-list-offers .card-footer .card-tag {
    font-size: 12px;
  }

  .container-list-offers .card .card-body {
    background: rgb(236, 236, 236);
  }

  .container-list-offers .card .card-footer {
    background-color: rgb(217, 217, 217);
  }

  .container-list-offers .card .card-description tr td:first-child:not(.no-bold) {
    font-weight: bold;
  }

  .card-description .btn-icon:not(.btn-labeled) > i {
    padding-right: 0;
    padding-left: .5rem;
    font-size: 14px;
    font-weight: bold;
  }

  .card-description button {
    font-size: 12px;
  }

</style>
<div class="container-list-offers">
  <h5 class="vc-element-title">{{ title }}</h5>
  <div class="row mb-5">

    <div class="col-md-12">
      <div class="card ibox mb-4">
        <div class="rel">
          <div class="fab fab-bottom card-overlay-fab">
            <button class="btn btn-primary btn-icon-only btn-circle btn-air" data-toggle="button">
              <i class="la la-share-alt fab-icon"></i>
              <i class="la la-close fab-icon-active"></i>
            </button>
            <ul class="fab-menu">
              <li>
                <a class="btn btn-soc-facebook btn-icon-only btn-circle btn-air" href="javascript:;">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a class="btn btn-soc-twitter btn-icon-only btn-circle btn-air" href="javascript:;">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title mb-4">
            <a class="text-primary">Recrute dans l’immédiat une assistante Qualité</a>
          </h4>
          <div class="card-description">

            <div class="row">
              <div class="col-8 uk-padding-remove-right">
                <table class="table">
                  <tbody>
                  <tr>
                    <td>Région:</td>
                    <td>Analamagna</td>
                  </tr>
                  <tr>
                    <td>Mission:</td>
                    <td>Assister à la construction du Système...</td>
                  </tr>
                  <tr>
                    <td>Profil:</td>
                    <td>Issue d'une formation Bac +2/3 avec...</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-4">
                <div class="uk-flex">
                  <button class="btn btn-warning btn-fix uk-margin-auto-left">
                    <span class="btn-icon">Voir l'offre <i class="la la-plus"></i></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <table class="table">
                  <tbody>
                  <tr>
                    <td class="no-bold uk-text-bold">Ref: BTP1328</td>
                    <td class="text-center uk-text-bold">Date limite de candidature: 31/08/2018</td>
                    <td class="text-right">Publier le 01/07/2018</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>

        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-primary">
              <b>TAG: </b> <span class="card-tag">assistante, construction, management</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
