<style type="text/css">
  form[name='formCompany'] .form-control {
    font-family: Poppins !important;
    font-size: 12px;
  }
</style>
<div class="{{ container_class }}">
  <div class="ibox" ng-app="formCompanyApp">

    <ui-view>
      <div class="d-block mt-5 mb-5">
        <div class="row">
          <div class="col-md-6 m-auto">
            <div class="text-center">
              <img src="{{ template_url }}/img/loading.gif" width="45" />
              <p>Chargement de contenue en cours</p>
            </div>
          </div>
        </div>
      </div>

    </ui-view>
  </div>
</div>
