<div class="ibox">
  <div class="row">
    <div class="col-sm-8">

      <div class="ibox-body">
        <div class="p-relative">
          <div>
            <p>En construction</p>
            <div class="ibox-footer pl-0">
              <div class="d-flex justify-content-start">
                <div class="ml-2">
                  <a ui-sref="manager.profil.formation.lists" ng-disabled="preload" class="btn btn-primary">Retour</a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

