
<div class="row">
  <div class="col-sm-12">
    <div class="ibox-body">
      <div class="flexbox-b mb-3">
        <div>
          <div class="mb-4">
            <a ui-sref="manager.profil.offers.lists" class="btn btn-sm btn-primary">Retour</a>
          </div>
          <h5 class="font-strong">Promouvoir mon offre</h5>
          <p>
            Soyez visible pendant 1 mois en 1ère sur l'offre <b>[[selectedPlan]]</b> et augmentez votre nombre de contacts mensuels.
          </p>
          <div class="d-flex">
            <select ui-select2="{multiple: false, width: 350, minimumResultsForSearch: -1}" ng-model="selectedPlan">
              <option value="[[publication._id]]" ng-repeat="publication in Publications"> [[publication._id.toUpperCase()]] - 1 mois, 30 jours ([[publication._p | currency]] HT)</option>
            </select>
            <button ng-click="paiementProcess(selectedPlan)" class="ml-3 btn btn-warning">Acheter</button>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox-footer">
      Une fois la période écoulée, l'emplacement sera automatiquement remis à la vente et disponible pour tous
      les prestataires Itjobmada.com.
    </div>
  </div>
</div>
