<div class="flexbox mb-4">
  <div class="flexbox">
    <a class="btn btn-outline-blue" target="_blank" ng-href="[[Helper.add_annonce_url]]?type=2">Ajouter une annonce</a>
    <span class="ml-3"></span>
    <button class="btn btn-warning btn-fix text-uppercase" data-toggle="modal" data-target="#modal-contact-overflow">
      <span style="font-size: 11px">Mettre en avant votre annonce</span>
    </button>
    <span class="ml-3"></span>
    <a class="btn btn-blue" target="_blank" ng-href="[[Helper.archive_annonce_link]]">Voir les annonces</a>
  </div>
</div>
<div class="table-responsive row">
  <table class="table table-bordered table-hover" id="annonce-table">
    <thead class="thead-default thead-lg">
    <tr>
      <th>Titre</th>
      <th>Réference</th>
      <th>Status</th>
      <th>Region</th>
      <th>A la une</th>
      <th>Date publication</th>
    </tr>
    </thead>
  </table>
</div>