<style type="text/css">
  #changePwdForm label.error {
    color: #f75a5f;
  }
</style>
<div>
  <!-- Modal -->
  <div id="modal-change-pwd-overflow" class="modal fade" aria-labelledby="modal-change-pwd-overflow" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="ibox text-left modal-content">
        <div class="ibox-head">
          <button class="uk-modal-close-default" type="button" data-dismiss="modal" aria-label="Close" uk-close></button>
          <div class="ibox-title">Modifier mon mot de passe</div>
        </div>

        <div class="ibox-body">
          <form id="changePwdForm" name="changePwdForm">
            <div class="alert alert-warning alert-dismissable fade show alert-outline has-icon" ng-show="error">
              <i class="la la-info-circle alert-icon"></i>
              <div class="d-flex align-items-center justify-content-between">
                <div><strong>ERREUR</strong><br>Ancien mot de passe non valide.</div>
              </div>
            </div>
            <div class="col-sm-12">
              <label class="col-form-label ">Ancien mot de passe <span style="color: red">*</span></label>
              <div class="form-group">
                <div>
                  <input ng-model="password.oldpwd" type="password" id="oldpwd" name="oldpwd" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <label class="col-form-label ">Nouveau mot de passe <span style="color: red">*</span></label>
              <div class="form-group">
                <div>
                  <input ng-model="password.pwd" type="password" id="pwd" name="pwd" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <label class="col-form-label ">Confirmation du mot de passe <span style="color: red">*</span></label>
              <div class="form-group">
                <div>
                  <input ng-model="password.confpwd" type="password" id="confpwd" name="confpwd" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="uk-modal-footer">
              <div class="row">
                <div class="col-sm-12 uk-text-right">
                  <button class="btn btn-blue ml-4" type="submit">Modifier</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- .end Modal-->

  <div class="d-flex justify-content-around align-items-center">
    <button class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#modal-change-pwd-overflow">
      <span class="btn-icon"><i class="la la-unlock"></i>Modifier mon mot de passe</span>
    </button>
  </div>
</div>