<style type="text/css">
#changePwdForm label.error {
  color: #f75a5f;
}
</style>
<div>
  <!-- Modal -->
  <div id="modal-change-pwd-overflow" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">Modifier mon mot de passe</h2>
      </div>

      <form id="changePwdForm" name="changePwdForm">
        <div class="col-sm-12">
          <label class="col-form-label ">Ancien mot de passe <span style="color: red">*</span></label>
          <div class="form-group">
            <div>
              <input ng-model="oldPwd" type="password" id="oldpwd" name="oldpwd" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <label class="col-form-label ">Nouveau mot de passe <span style="color: red">*</span></label>
          <div class="form-group">
            <div>
              <input ng-model="pwd" type="password" id="pwd" name="pwd" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <label class="col-form-label ">Confirmation du mot de passe <span style="color: red">*</span></label>
          <div class="form-group">
            <div>
              <input ng-model="confpwd" type="password" id="confpwd" name="confpwd" class="form-control" required>
            </div>
          </div>
        </div>

        <div class="uk-modal-footer">
          <div class="row">
            <div class="col-sm-12 uk-text-right">
              <button class="btn btn-blue ml-4" type="submit">Modifier</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- .end Modal-->

  <div class="d-flex justify-content-around align-items-center">
    <button class="btn btn-secondary btn-rounded" ng-click="openEditor()">
      <span class="btn-icon"><i class="la la-unlock"></i>Modifier mon mot de passe</span>
    </button>
  </div>
</div>
