<div id="modal-edit-offer-overflow" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Modification</h2>
    </div>
    <div class="uk-modal-body" uk-overflow-auto>
      <form name="editOfferForm" novalidate>
        <p>
          Pour toutes modifications veuillez contacter le service commercial aux numéros suivants: <br>
          032 45 378 60 - 033 82 591 13 - 034 93 962 18.
        </p>
        <div class="form-group mb-2 row">
          <div class="col-sm-12">
            <label class="col-form-label">Poste à pourvoir <span style="color: red">*</span></label>
            <input ng-disabled="true" class="form-control" name="postpromote" ng-model="offerEditor.postPromote" type="text" placeholder="Poste à pourvoir"
              required>
          </div>
        </div>
        <div class="form-group mb-2 row ">
          <div class="col-sm-12">
            <label class="col-form-label ">Date limite de candidature <span style="color: red">*</span></label>
            <div class="form-group">
              <div class="input-group date" style="border: 5px solid #6dab3c">
                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                <input ng-model="offerEditor.dateLimit" readonly="readonly" autocomplete="off" name="datelimit" class="form-control" style="border: none!important"
                       required>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-2 row ">
          <div class="col-sm-12">
            <label class="col-form-label ">Type de contrat <span style="color: red">*</span></label>
            <div class="form-group">
              <select ng-disabled="true" class="form-control" name="contrattype" ng-model="offerEditor.contractType" title="Type de contrat"
                required>
                <option value="cdd">CDD</option>
                <option value="cdi">CDI</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group mb-2 row ">
          <div class="col-sm-12">
            <label class="col-form-label ">Secteur d'activité <span style="color: red">*</span></label>
            <div class="form-group">
              <select ng-disabled="true" class="form-control" name="branch_activity" ng-model="offerEditor.branch_activity" title="Secteur d'activité"
                required>
                <option ng-repeat="ab in branchActivity" ng-value="ab.term_id">[[ab.name]]</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group mb-2 row">
          <div class="col-sm-12">
            <label class=" col-form-label">Salaire net proposé </label>
            <input ng-disabled="true" class="form-control" name="proposedsallary" ng-value="0" ng-model="offerEditor.proposedSalary" type="number"
              placeholder="Salaire net proposé">
          </div>
        </div>
        <div class="form-group mb-2 row ">
          <div class="col-sm-12">
            <label class="col-form-label ">Region <span style="color: red">*</span></label>
            <div class="form-group">
              <select ng-disabled="true" class="form-control" name="region" ng-model="offerEditor.region" title="Region" required>
                <option ng-repeat="rg in Regions" ng-value="rg.term_id">[[rg.name]]</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="col-sm-12">
            <label class="col-form-label">Code postal ou nom d'une ville </label>
            <div class="form-group">
              <select ng-disabled="true" class="form-control input-mode country" name="country" ng-model="offerEditor.country" required>
                <option value="[[city.term_id]]" ng-value="offerEditor.country" ng-repeat="city in Citys">([[city.postal_code]])
                  [[city.name]]</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group mt-5">
          <div class="form-label uk-text-bold">Mission</div>
          <div class="mt-2">
            <p ng-bind-html="offerEditor.mission"></p>
          </div>
        </div>
        <div class="form-group mt-5">
          <div class="form-label uk-text-bold">Profil recherché </div>
          <div class="mt-2">
            <p ng-bind-html="offerEditor.profil"></p>
          </div>
        </div>
        <div class="form-group mt-5" ng-if="offerEditor.otherInformation">
          <div class="form-label uk-text-bold">Autres informations </div>
          <div class="mt-2">
            <p ng-bind-html="offerEditor.otherInformation"></p>
          </div>
        </div>
      </form>
    </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="btn btn-blue ml-4" ng-click="editOffer(offerEditor.ID, $event)" type="button">Enregistrer</button>
      <button class="btn btn-default uk-modal-close" type="button">Annuler</button>
    </div>
  </div>
</div>

<!-- Modal View Candidat -->
<div id="modal-view-candidat" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close uk-float-right" type="button" uk-close></button>
    <div class="">
      <div uk-height-viewport>
        <div class="preloader-backdrop" ng-if="loadingCandidats">
          <div class="page-preloader">Chargement</div>
        </div>
        <div class="uk-padding-small">
          <h2 class="font-bold">OFFRE <span class="text-muted">#[[offerView.ID]]</span> </h2>
          <h4 class="uk-modal-title">[[offerView.postPromote]]</h4>

          <div class="alert alert-pink alert-dismissable fade show alert-outline mt-2" ng-if="error">
            <button class="close" data-dismiss="alert" aria-label="Close"></button>
            <strong>Oops! </strong><br>[[error]]
          </div>

          <!-- La liste des candidats -->
          <div uk-grid>
            <div class="uk-width-1-1@m uk-width-1-1 manage-cv" ng-if="mode === 'manage'">
              <div class="mt-5">
                <h5>Les candidats ayant été sélectionnés</h5>
                <div class="ibox-body">
                  <ul class="media-list media-list-divider mr-2 scroller" data-height="580px">
                    <li class="media align-items-center" ng-repeat="interest in interestCandidats | filter: filterSelectedCandidates">
                      <div class="media-body d-flex align-items-center">
                        <div class="flex-1">
                          <div class="media-heading">
                            <a class="" target="_blank" ng-href="[[interest.candidate.candidate_url]]">[[interest.candidate.title]] </a>
                            <span class="badge badge-default ml-2" ng-if="interest.status === 'pending'">En attente de validation</span>
                            <span class="badge badge-success ml-2" ng-if="interest.status === 'validated'">Confirmer</span>
                            <span class="badge badge-danger ml-2" ng-if="interest.status === 'reject'">Rejeter</span>
                          </div>
                          <small class="text-muted">[[interest.candidate.branch_activity.name]]</small>
                          <div class="mt-2">
                            <span class="badge badge-default" ng-if="interest.type === 'apply'">Postulant</span>
                          </div>
                        </div>
                        <button class="btn btn-sm btn-outline-primary ml-2" ng-if="!interest.inList && interest.status === 'validated'" data-ng-click="addList(interest.candidate.ID, $event)">Voir la candidature</button>
                        <button class="btn btn-sm btn-outline-primary ml-2" ng-if="interest.inList" data-ng-click="viewCandidateInformation(interest.candidate.ID, offerView.ID)">Consulter</button>
                      </div>
                    </li>
                    <li class="media align-items-center" ng-if="collectFilterResults('filter_selected_candidate').length <= 0">Néant</li>
                  </ul>
                </div>
              </div>

              <hr>

              <div class="mt-5">
                <h5>Les candidats ayant postulés</h5>
                <div class="ibox-body">
                  <ul class="media-list media-list-divider mr-2 scroller" data-height="580px">
                    <li class="media align-items-center" ng-repeat="interest in interestCandidats | filter: filterPostuledCandidates">
                      <div class="media-body d-flex align-items-center">
                        <div class="flex-1">
                          <div class="media-heading">
                            <a class="" target="_blank" ng-href="[[interest.candidate.candidate_url]]">[[interest.candidate.title]] </a>
                            <span class="badge badge-default ml-2" ng-if="interest.status === 'pending' && interest.view === 0">En attente de confirmation</span>
                            <span class="badge badge-success ml-2" ng-if="interest.status === 'validated'">Accepter</span>
                            <span class="badge badge-danger ml-2" ng-if="interest.status === 'reject'">Rejeter</span>
                          </div>
                          <small class="text-muted">[[interest.candidate.branch_activity.name]]</small>
                        </div>
                        <button class="btn btn-sm btn-outline-primary ml-2" ng-if="interest.inList" data-ng-click="viewCandidateInformation(interest.candidate.ID, offerView.ID)">Consulter</button>
                        <button class="btn btn-sm btn-outline-primary ml-2" ng-if="interest.status === 'pending' && interest.view === 1" data-ng-click="addList(interest.candidate.ID, $event)">Sélectionner</button>
                        <button class="btn btn-sm btn-outline-danger ml-2" ng-if="interest.status === 'pending' && interest.view === 1" data-ng-click="rejectCandidate(interest.candidate.ID, $event)">Rejeter</button>
                      </div>
                    </li>
                    <li class="media align-items-center" ng-if="collectFilterResults('filter_postuled_candidate').length <= 0">Néant</li>
                  </ul>
                </div>
              </div>

              <div class="ibox mt-5" ng-if="offerView.rateplan !== 'premium'">
                <div class="ibox-body alert alert-primary">
                  <h5 class="">Découvrez l'offre premium</h5>
                  <p>Pour pouvoir visionner et télécharger plus de CV et de trouver les bons candidats, plus rapidement sans limite</p>
                  <button  class="btn btn-info uk-modal-close uk-close-large" data-ng-click="featuredOffer(offerView.ID)" type="button" >Améliorer l'offre</button>
                </div>
              </div>
            </div>

            <!-- Les informations du candidat (Lettre de motivation & CV complete)-->
            <div class="uk-width-1-1@m uk-width-1-1 view-cv" ng-if="mode === 'view'">
              <cv-consult company="Entreprise" id-candidate="idCandidate" offer="offerView" on-options="onGetOptions()" on-toggle-mode="toggleMode()"></cv-consult>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dialog begin -->
<div class="modal fade" id="featured-dialog" aria-labelledby="featured-dialog" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="ibox text-left modal-content">
      <div class="ibox-head">
        <div class="ibox-title">Mettre en avant votre annonce</div>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="ibox-body">
        <div class="form-group mb-4">
          <p>
              En optant pour cette option cela vous permettra d’attirer l’attention des candidats et ainsi d’augmenter le nombre de candidatures reçues.
              Vous pouvez mettre en avant votre annonce selon une période plus ou moins longue. <br> <br>
            Pour plus d'informations, contactez le service commercial au:<br>
            <a href="tel:+261324537860">032 45 378 60</a> - <a href="tel:+261338259113">033 82 591 13</a> - <a href="tel:+261349396218">034
              93 962 18</a>.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- .end Modal -->
<div class="flexbox mb-4">
  <div class="flexbox">
    <div class="input-group-icon input-group-icon-left mr-3">
      <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
      <input class="form-control form-control-solid" id="key-search" type="text" placeholder="Rechercher ...">
    </div>

    <a class="btn btn-outline-blue" target="_blank" ng-href="[[Helper.add_offer_url]]">Ajouter une offre</a>
    <span class="ml-3"></span>

  </div>
</div>
<div class="table-responsive row">
  <table class="table table-bordered table-hover" id="products-table">

    <thead class="thead-default thead-lg">
      <tr>
        <th>Poste à promouvoir</th>
        <th>Statuts</th>
        <th>En ligne</th>
        <th>Candidat(s)</th>
        <th>Mode de Diffusion</th>
        <th>A la une</th>
        <th>Réference</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="offer in Offers">

        <td><a href="[[offer.post_url]]" title="{{ offer.postPromote }}">[[ offer.postPromote ]]</a></td>
        <td>
          <span class="badge badge-pill" ng-class="{'badge-blue' : offer.offer_status == 'publish', 'badge-warning' : offer.offer_status == 'pending'}">
            [[ offer.offer_status|Status]]
          </span>
        </td>
        <td>
          <span class="badge badge-pill" ng-class="{'badge-blue' : offer.activated , 'badge-danger' : !offer.activated }">
            [[offer.activated ? 'OUI' : 'NON']]
          </span>
        </td>
        <td>
          <span style="cursor: pointer" class="p-relative" >
            <span ng-if="offer.candidat_apply.length <= 0" class="badge badge-default">[[ offer.candidat_apply.length ]]</span>
            <span ng-click="viewApply(offer.ID)" ng-if="offer.candidat_apply.length > 0" class="badge-success badge ml-2">
              Liste des candidates
            </span>
            <span class="badge badge-pink badge-circle" ng-if="offer.candidat_apply.length > 0"
                  style="position:absolute; right: -7px; top: -5px; min-width: 12px; width: 12px; height: 12px">
              <span class="notify-signal"></span>
            </span>
          </span>
        </td>
        <td>
          <span class="badge badge-pill uppercase" ng-click="offerPaiementProcess(offer.ID)" ng-class="{'badge-blue' : offer.paid,
          'badge-default' : (!offer.paid && !offer.activated) || offer.rateplan === 'standard',
          'badge-warning' : !offer.paid && offer.activated && offer.rateplan !== 'standard',
          'paiement-process': !offer.paid && offer.activated }">
            [[offer.paid ? offer.rateplan : ( offer.rateplan === 'standard' ? "Standard" : (offer.activated ? "Attente paiement" : "Attente validation" ) )]]
          </span>
        </td>
        <td>
          <span class="badge" ng-click="addFeaturedCart(offer.ID)" ng-class="{'badge-blue' : offer.featured, 'badge-pink edit-position' : !offer.featured}">
            [[ offer.featured ? "ACTIVE" : "ACHETER" ]]
          </span>
        </td>
        <td><span class="badge badge-default badge-pill">[[ offer.reference ]]</span></td>
        <td><span class="text-light mr-3 font-16" data-ng-click="openOfferEditor(offer.ID)" style="cursor: pointer"><i class="ti-pencil"></i></span></td>
      </tr>
    </tbody>

  </table>
</div>