<div class="flexbox mb-4">
  <div class="flexbox">
    <a class="btn btn-outline-blue" target="_blank" ng-href="[[Helper.add_formation_url]]">Ajouter une formation</a>
    <span class="ml-3"></span>

  </div>
</div>
<div class="table-responsive row">
  <table class="table table-bordered table-hover" id="formation-table">
    <thead class="thead-default thead-lg">
      <tr>
        <th>Réference</th>
        <th>Formation</th>
        <th>Publication</th>
        <th>Etat de paiement</th>
        <th>A la une</th>
        <th>Date limite d'inscription</th>
        <th class="no-sort">Action</th>
      </tr>
    </thead>
  </table>
</div>