<div class="flexbox mb-4">
  <div class="flexbox">
    <a class="btn btn-outline-blue" target="_blank" ng-href="[[Helper.add_formation_url]]">Ajouter une formation</a>
    <span class="ml-3"></span>
    <button class="btn btn-warning btn-fix text-uppercase" data-toggle="modal" data-target="#modal-contact-overflow">
      <span style="font-size: 11px">Mettre en avant votre formation</span>
    </button>

  </div>
</div>
<div class="table-responsive row">
  <table class="table table-bordered table-hover" id="formation-table">
    <thead class="thead-default thead-lg">
      <tr>
        <th>Réference</th>
        <th>Status</th>
        <th>Formation</th>
        <th>Date limite d'inscription</th>
        <th>Nom de l'établissement</th>
        <th class="no-sort">Action</th>
      </tr>
    </thead>
  </table>
</div>