<div class="profil-box col-md-6">
  <h5 class="font-strong mb-4">GENERAL INFORMATION <span class="badge badge-warning badge-circle  ml-3"><i class="ti-pencil"></i></span> </h5>
  <div class="row mb-2">
    <div class="col-6 text-muted">Nom du responsable :</div>
    <div class="col-6">[[Entreprise.name]]</div>
  </div>
  <div class="row mb-2">
    <div class="col-6 text-muted">Sexe:</div>
    <div class="col-6">[[Entreprise.greeting|Greet]]</div>
  </div>
  <div class="row mb-2">
    <div class="col-6 text-muted">Secteur d'activité:</div>
    <div class="col-6">[[Entreprise.branch_activity.name]]</div>
  </div>
  <div class="row mb-2">
    <div class="col-6 text-muted">Adresse de l'entreprise:</div>
    <div class="col-6">[[Entreprise.address]].</div>
  </div>
  <div class="row mb-2">
    <div class="col-6 text-muted">Région:</div>
    <div class="col-6">[[Entreprise.region.name]].</div>
  </div>
  <div class="row mb-2">
    <div class="col-6 text-muted">Numéros de téléphone:</div>
    <div class="col-6">[[Entreprise.phone]]</div>
  </div>
  <div class="row mb-2">
    <div class="col-6 text-muted">Email:</div>
    <div class="col-6">[[Entreprise.email]]</div>
  </div>
</div>