<!-- Modal contact -->
<div id="modal-notification-overflow" class="modal fade" aria-labelledby="modal-notification-overflow" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="ibox text-left modal-content">
      <div class="ibox-head">
        <button class="uk-modal-close-default" type="button" data-dismiss="modal" aria-label="Close" uk-close></button>
        <div class="ibox-title">NOTIFICATIONS</div>
      </div>
      <div class="ibox-body">
        <ul class="media-list media-list-divider scroller mr-2" data-height="470px">
          <li class="media" ng-if="Loading">
            <div class="preloader-backdrop">
              <div class="page-preloader">Chargement</div>
            </div>
          </li>
          <li class="media" ng-if="Notices.length <= 0 && !Loading">
            <div class="media-body d-flex">
              <div class="flex-1">
                <p class="font-13 text-light mb-1">Aucune notification</p>
              </div>
            </div>
          </li>
          <li class="media" ng-repeat="notice in Notices">
            <div class="media-body d-flex">
              <div class="flex-1">
                <h6 class="media-heading">
                  <a target="_blank" ng-href="[[notice.url]]" ng-bind-html="notice.title"></a>
                </h6>
                <div class="d-flex align-items-center font-13">
                  <span class="text-muted">[[notice.date_create|moment_notice]]</span>
                </div>
              </div>
              <div class="text-right" style="width:100px;">
                <span ng-class="{'badge-secondary': notice.status, 'badge-primary': !notice.status}" class="badge badge-pill mb-2">
                  [[ notice.status ? 'Lu' : 'Non lu' ]]
                </span>
                <div>
                  <small class="text-muted font-12"></small>
                </div>
              </div>
            </div>
          </li> 
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .end modal -->

<button class="btn btn-secondary" data-toggle="modal" data-target="#modal-notification-overflow">
  <span class="btn-icon"><i class="fa fa-commenting"></i>Notification</span>
  
</button>