<div class="row">
  <div class="col-lg-4">
    <div class="card text-center centered mb-4" style="max-width:320px;">
      <div class="card-body">
        <div class="card-avatar mt-3 mb-4">
          <img class="img-circle" src="[[ Candidate.avatar[0] ]]" alt="image">
        </div>
        <h4 class="card-title mb-1">[[ Candidate.display_name ]]</h4>
        <div class="text-pink"><i class="ti-location-pin mr-2"></i>[[ Candidate.address ]]</div>
        <p class="mt-4 mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="d-flex align-items-center  mb-5">
          <div class="text-center m-auto">
            <h2 class="text-pink m-0">
              [[ Candidate.postuled ? Candidate.postuled : 0 ]]
            </h2>
            <div class="text-muted text-uppercase">Candidatures envoyés</div>
          </div>
        </div>
        <div class="d-flex justify-content-around align-items-center">
          <button class="btn btn-secondary btn-rounded">
            <span class="btn-icon"><i class="la la-commenting"></i>Notification</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="mt-4">
      <ul class="nav nav-tabs tabs-line m-0 pl-3 pr-3">
        <li class="nav-item">
          <a class="nav-link active" data-target="#profil" data-toggle="tab">
            Profil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="#cv" data-toggle="tab">
            Mon CV
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active show" id="profil">
          <div class="page-content">
            <div class="ibox-body">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Information général directive -->
                  <general-information-candidate
                    abranchs="asyncTerms('branch_activity')"
                    regions="asyncTerms('region')"
                    all-city="asyncTerms('city')"
                    init="Initialize()"
                    candidate="Candidate">
                  </general-information-candidate>
                </div>
                <div class="col-sm-6">
                  <!-- Biography directive -->
                  <biography></biography>
                  <!-- Alerts directive -->
                  <alerts on-save="onSaveAlert()" alerts="alerts" alert-loading="alertLoading"></alerts>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="cv">
          <div class="page-content">
            <div class="ibox-body">
              <div class="row">
                <div class="col-lg-8">
                  <div ng-show="cv.hasCV">
                    <!-- Experience directive -->
                    <experiences candidate="Candidate" ></experiences>
                    <!-- Formation directive --->
                    <trainings candidate="Candidate" ></trainings>
                  </div>
                  <div ng-show="!cv.hasCV">
                    <a ng-href="[[cv.addCVUrl]]" class="btn btn-outline-blue">Ajouter un CV</a>
                  </div>
                </div>
                <div class="col-lg-6"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
