<div class="alert alert-primary alert-dismissable fade show" ng-show="accountUpgrade">
  <button class="close" data-dismiss="alert" aria-label="Close"></button>
  <h4>Découvrez l'offre premium</h4>
  <p>Plus de CV sélectionnés par vos soins, de la publicité sur notre Site et les réseaux sociaux pour nos offres d'emploi et cela pendnat Un mois
  </p>
  <p>
    <button data-ng-click="updateAccount()" id="account_upgrade_btn" ng-disabled="sender" class="btn btn-success btn-sm mr-2">Accédez à l'offre</button>
  </p>
</div>