<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      $.fn.datepicker.dates['fr'] = {
        days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
        daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
        daysMin: ["d", "l", "ma", "me", "j", "v", "s"],
        months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre",
          "octobre", "novembre", "décembre"
        ],
        monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.",
          "nov.", "déc."
        ],
        today: "Aujourd'hui",
        monthsTitle: "Mois",
        clear: "Effacer",
        weekStart: 1,
        format: "dd/mm/yyyy"
      };

      $('.input-group.date').datepicker({
        todayBtn: "linked",
        language: 'fr',
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        startDate: new Date(),
        autoclose: true
      });
    });
  })(jQuery);
</script>
<form name="formOffer" ng-submit="formSubmit(formOffer.$valid)" class="form-horizontal" novalidate>
  <div class="ibox-body">

    <div class="page-heading mb-5">
      <h1 class="page-title">Ajouter une offre</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Offre</li>
        <li class="breadcrumb-item">Ajouter une offre</li>
      </ol>
    </div>

    <div class="form-group mb-2 row">
      <div class="col-sm-8">
        <label class="col-form-label font-14 font-bold">Poste à pourvoir <span style="color: red">*</span></label>
        <input class="form-control" name="postpromote" ng-model="offers.postpromote" type="text" placeholder="Poste à pourvoir"
          required>
      </div>
    </div>

    <div class="form-group mb-2 row ">
      <div class="col-sm-6">
        <label class="col-form-label font-14 font-bold">Type de contrat <span style="color: red">*</span></label>
        <div class="form-group">
          <select class="form-control no-search" name="contrattype" ng-model="offers.contrattype" required>
            <option value="">Choisir un contrat</option>
            <option value="0">CDD</option>
            <option value="1">CDI</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group mb-2 row">
      <div class="col-sm-6">
        <label class=" col-form-label font-14 font-bold">Salaire net proposé </label>
        <input class="form-control" name="proposedsallary" ng-value="0" ng-model="offers.proposedsallary" type="number"
          placeholder="Salaire net proposé">
      </div>
    </div>

    <div class="form-group mb-2 row ">
      <div class="col-sm-6">
        <label class="col-form-label font-14 font-bold">Region <span style="color: red">*</span></label>
        <div class="form-group">
          <select class="form-control" name="region" ng-model="offers.region" title="Region" required>
            <option></option>
            <option ng-repeat="region in regions" value="[[region.term_id]]">[[region.name]]</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row mb-2">
      <div class="col-sm-6">
        <label class="col-form-label font-14 font-bold">Code postal ou nom d'une ville <span style="color: red">*</span></label>
        <div class="form-group">
          <select class="form-control input-mode country" name="country" ng-disabled="!offers.region" ng-model="offers.country"
            required>
            <option></option>
            <option value="[[city.term_id]]" ng-repeat="city in allCity|filter:searchCityFn">([[city.postal_code]])
              [[city.name]]</option>
          </select>
        </div>
      </div>

    </div>


    <div class="form-group mb-2 row ">
      <div class="col-sm-6">
        <label class="col-form-label font-14 font-bold">Secteur d'activité <span style="color: red">*</span></label>
        <div class="form-group">
          <select class="form-control" name="branch_activity" ng-model="offers.branch_activity" title="Secteur d'activité"
            required>
            <option></option>
            <option ng-repeat="abranch in abranchs" value="[[abranch.term_id]]">[[abranch.name]]</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group mb-2 row ">
      <div class="col-sm-6">
        <label class="col-form-label font-14 font-bold">Date limite de candidature <span style="color: red">*</span></label>
        <div class="form-group">
          <div class="input-group date">
            <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
            <input ng-model="offers.datelimit" readonly="readonly" autocomplete="off" name="datelimit" class="form-control"
              placeholder="Ajouter une date limite de la candidature" required>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <div class="form-label font-14 font-bold">Mission <span style="color: red">*</span></div>
      <div class="text-muted">
        Aucune coordonnée, ni nom d'entreprise ne peuvent être indiqués dans votre offre
      </div>
      <div class="mt-2">
        <textarea required ng-model="offers.mission" cols="8" ui-tinymce="tinymceOptions" placeholder="Mission" name="mission"></textarea >
      </div>
    </div>

    <div class="form-group">
      <div class="form-label font-14 font-bold">Profil recherché <span style="color: red">*</span></div>
      <div class="text-muted">
        Aucune coordonnée, ni nom d'entreprise ne peuvent être indiqués dans votre offre
      </div>
      <div class="mt-2">
        <textarea required ng-model="offers.profil" cols="8" ui-tinymce="tinymceOptions" placeholder="Profil recherché pour les candidats" name="profil"></textarea >
      </div>
    </div>

    <div class="form-group">
      <div class="form-label font-14 font-bold">Autres informations <span style="color: red"></span></div>
      <div class="text-muted">
        Aucune coordonnée, ni nom d'entreprise ne peuvent être indiqués dans votre offre
      </div>
      <div class="mt-2">
        <textarea  ng-model="offers.otherinformation" cols="8" ui-tinymce="tinymceOptions" placeholder="Autres informations" name="otherinformation"></textarea >
      </div>
    </div>

    <div class="ibox-footer row">
      <div class="col-sm-5 d-flex align-items-center">
        <span class="text-muted text-left" style="font-size: 0.8rem">
          Tous les champs marqués d'un <span style="color: red">*</span> sont obligatoires
        </span>
      </div>
      <div class="col-sm-4 ml-sm-auto">
        <button class="btn btn-blue float-right mr-2" ng-disabled="isSubmit" type="submit">Suivant</button>
      </div>
    </div>

  </div>
</form>