<style type="text/css">
  .pricing-title {
    margin: 0;
    padding: 15px;
  }

  .price {
    padding: 15px;
    background-color: #e3e6e7;
    font-size: 20px;
  }

  .price sup {
    margin-right: 3px;
    font-size: 35px;
    top: -.5em;
  }

  .price-number {
    font-size: 60px
  }

  .price-arrow {
    box-sizing: content-box;
    width: 50%;
    height: 0;
    padding-left: 50%;
    padding-top: 5%;
    overflow: hidden;
  }

  .price-arrow div {
    width: 0;
    height: 0;
    margin-left: -1000px;
    margin-top: -100px;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-top: 100px solid #e3e6e7;
  }

  .pricing-item-active .pricing-title {
    background-color: #18c5a9;
    color: #fff;
  }

  .pricing-item-active .price {
    background-color: #16B198;
    color: #fff;
  }

  .pricing-item-active .price-arrow div {
    border-top-color: #16B198;
  }
</style>
<form name="subscriptionOffer" ng-submit="sendSubscription()" class="form-horizontal" novalidate>
  <div class="ibox-body">

    <div class="page-heading mb-5">
      <h1 class="page-title">Choisissez le mode de diffusion</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Offre</li>
        <li class="breadcrumb-item">[[offers.postpromote]]</li>
        <li class="breadcrumb-item">Mode de diffusion</li>
      </ol>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="ibox shadow-wide text-center">
          <h4 class="pricing-title text-success">STANDARD</h4>
          <div class="price">
            GRATUIT
          </div>
          <div class="price-arrow">
            <div></div>
          </div>
          <div class="ibox-body">
            <div class="pt-4 pb-5 text-left">
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Les postulants sont tous envoyés chez le client sans distinction aucune
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Le client peut sélectionner autant de CV qu’il le souhaite suivant l’offre posté
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Partage de l’offre dans notre groupe, sur les réseaux sociaux
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Partage de l’offre dans d’autres groupes, sur les réseaux sociaux
              </div>
              <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>
                Notre intervention : néant
              </div>
            </div>
            <button class="btn btn-secondary" ng-click="rateplan = 'standard'" ng-disabled="loading" type="submit" style="width:170px;">SELECTIONNER</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ibox shadow-wide text-center">
          <h4 class="pricing-title text-success">SEREINE</h4>
          <div class="price">
            [[price.sereine | currencyFormat]] HT
          </div>
          <div class="price-arrow">
            <div></div>
          </div>
          <div class="ibox-body">
            <div class="pt-4 pb-5 text-left">
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Les postulants sont filtrés par rapport à l’annonce
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Itjobmada sélectionnera un certain nombre de candidats suivant l’offre
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Prise de contact téléphonique avec les candidats sélectionnés (disponibilité du candidat et
                adéquation du profil par rapport à l’offre)
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Publicité ciblée sur les réseaux sociaux pendant une semaine
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Partage de l’offre dans notre groupe, sur les réseaux sociaux
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Partage de l’offre dans d’autres groupe, sur les réseaux sociaux
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Notre intervention : Oui sur une durée d’un mois
              </div>
            </div>
            <button class="btn btn-secondary" ng-click="rateplan = 'sereine'" ng-disabled="loading" type="submit" style="width:170px;">SELECTIONNER</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 pricing-item-active">
        <div class="ibox shadow-wide text-center">
          <h4 class="pricing-title">PREMIUM</h4>
          <div class="price">
            [[price.premium | currencyFormat]] HT
          </div>
          <div class="price-arrow">
            <div></div>
          </div>
          <div class="ibox-body">
            <div class="pt-4 pb-5 text-left">
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Les postulants sont filtrés par rapport à l’annonce
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Itjobmada sélectionnera un certain nombre de candidats suivant l’offre
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Entretien avec les candidats sélectionnés.
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Rendez-vous assurés chez le client par itjobmada
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Présentation auprès du client des candidats sélectionnés
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Publicité ciblée sur les réseaux sociaux pendant deux semaines
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Partage de l’offre dans notre groupe, sur les réseaux sociaux
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Partage de l’offre dans d’autres groupe, sur les réseaux sociaux
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Offre à la une pendant un mois
              </div>
              <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>
                Notre intervention : Oui sur une durée d’un mois
              </div>
            </div>
            <button class="btn btn-success btn-air" ng-click="rateplan = 'premium'" ng-disabled="loading" type="submit" style="width:170px;">SELECTIONNER</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>