<form name="subscriptionOffer" ng-submit="sendSubscription()" class="form-horizontal" novalidate>
  <div class="ibox-body">

    <div class="page-heading mb-5">
      <h1 class="page-title">Plan tarifaire</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Offre</li>
        <li class="breadcrumb-item">Plan tarifaire</li>
      </ol>
    </div>

    <div class="form-group">
      <label class="checkbox checkbox-grey checkbox-info">
        <input type="checkbox" ng-model="ratePlan" >
        <span class="input-span"></span>ITJOB se chargera de sélectionner pour vous le bon candidat pour votre offre et vous ne recevrez plus de notification venant de cette offre.</label>
    </div>
  </div>

  <div class="ibox-footer">
    <div class="row">
      <div class="col-sm-5 d-flex align-items-center">
      <span class="text-muted text-left" style="font-size: 0.8rem">
        Une option soumise à un frais supplémentaire  de x Ar payable par MVOLA
      </span>
      </div>
      <div class="col-sm-4 ml-sm-auto">
        <button class="btn btn-blue mr-2" ng-disabled="isSubmit" type="submit">Publier mon offre</button>
      </div>
    </div>

  </div>
</form>