<div id="wallet pt-4">
  <div class="ibox">
    <div class="ibox-body mt-4">
      <div class="row">
        <div class="col-lg-3">
          <div>
            <div class="font-bold font-16 text-center uppercase">
              <i class="ti-wallet d-inline-block pr-2"></i>Mon portefeuille
            </div>
            <div class="mt-4">
              <div class="row mb-2 font-extra-bold font-14">
                <div class="col-6">Credits</div>
                <div class="col-6 badge badge-dark text-right">{{ credit }}</div>
              </div>
              <div class="mt-5">
                <h5>Achat de crédits ITJob</h5>
                <div>
                  <form method="post">
                    <div class="mb-2">
                      <b>1</b> Crédit = <b>{{price}} MGA</b>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="number" min="1" name="credit" value="1" class="form-control">
                      </div>
                      <div class="col-sm-6">
                        <input type="hidden" value="{{nonce}}" name="wp_credit_nonce">
                        <button class="btn btn-outline-primary">Acheter</button>
                      </div>
                    </div>
                  </form>
                </div>


                <p class="mt-4">
                  Pour toutes informations veuillez contacter le service commercial aux numéros suivants: <br>
                  <b>032 45 378 60 - 033 82 591 13 - 034 93 962 18</b>.
                </p>
              </div>
              <div class="text-center">
                <!--<a href="" class="btn btn-outline-info btn-sm">Acheter</a>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row pl-4">
            <div class="col-lg-6">
              <h5 class="font-strong mb-4 ml-2">Activités récentes</h5>
              <ul class="timeline">
                {% for history in histories %}
                <li class="timeline-item">
                  <span class="timeline-point"></span>{{ history.msg }}
                  <small class="float-right text-muted ml-2 nowrap">{{ history.date_create }}</small>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-lg-6">
              <p>
              <h4>A quoi servent les credits ITJob ?</h4>
              <ul>
                <li>Les credits vous servent à obtenir les coordonnées désirées des autres membres: 1 credit consommée = 1 contact</li>
                <li>Vous pouvez par exemple dans la rubrique « travail temporaire » obtenir les coordonnées complètes de l'annonceur
                  en utilisant un crédit ainsi vous augmentez vos chances de trouver de meilleur interlocuteurs d'affaire
                </li>
                <li>Ces coordonnées resteront affichées sur l'annonce tant que cette annonce ne sera pas supprimée.</li>
                <li>La durée d'utilisation des credits n'est pas limité dans le temps.</li>
                <li>Quand vous chargez votre compte en credit, vous garder toujours sur la partie droite en haut de l'ecran le nombre de credit qu'il vous reste de disponible.</li>
                <li>La vente de credit est la seule rémunération du site www.itjobmada.com.
                  En souscrivant des credits vous nous aidez aussi à faire progresser notre système.</li>
                <li>Vous augmentez ainsi vos chances de trouver de meilleurs interlocuteurs d'affaire</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>