<div class="row">
  <div class="col-lg-12">
    <!-- Le candidat possède un CV-->
    <div ng-show="cv.hasCV">
      <h2 class="font-bold">REFERENCE
        <a target="_blank" title="Voir le CV" ng-href="[[Candidate.candidate_url]]" class="text-muted">
          #[[Candidate.reference]]
        </a>
      </h2>
      <span class="badge badge-pink" ng-if="Candidate.state === 'pending'">En attente de validation</span>
      <span class="badge badge-blue" ng-if="Candidate.state === 'publish' && Candidate._activated === true">En
                      ligne</span>
      <span class="badge badge-danger" ng-if="Candidate.state === 'publish' && Candidate._activated !== true">Désactiver</span>
      <div class="mb-4"></div>
      <!-- Statistic -->
      <div class="row mb-5">
        <div class="col-4 text-center" style="border-right: 1px solid rgba(0,0,0,.1);">
          <div class="text-muted uppercase">CANDIDATURES ENVOYÉES</div>
          <h2 class="text-success mt-1">[[ Candidate.postuled ? Candidate.postuled.length : 0 ]]</h2>
        </div>
        <div class="col-4 text-center" style="border-right: 1px solid rgba(0,0,0,.1);" >
          <div ng-if="Candidate.featured" class="text-muted uppercase">CV EN AVANT</div>

          <div ng-if="!Candidate.featured" class="text-muted uppercase">METTRE à LA UNE</div>
          <a ng-if="!Candidate.featured" class="btn btn-sm btn-outline-warning mt-2" ui-sref="manager.profil.cv.featured({id: Candidate.ID})">Acheter</a>
        </div>
        <div class="col-4 text-center" style="border-right: 1px solid rgba(0,0,0,.1);">
          <div class="text-muted uppercase">VUE(S)</div>
          <h2 class="text-success mt-1">[[ Candidate.view ]]</h2>
        </div>
      </div>
      <!-- Emploi rechercher -->
      <job-search jobs="Candidate.jobSought"></job-search>
      <!-- Experience directive -->
      <experiences candidate="Candidate" abranch-fn="asyncTerms('branch_activity')"></experiences>
      <!-- Formation directive --->
      <trainings candidate="Candidate"></trainings>
      <div class="col-lg-12">
        <hr>
        <div class="row">
          <!-- langues -->
          <div class="ibox-body col-lg-6">
            <h4 class="font-bold">Langues</h4>
            <div class="row">
              <div class="col-11 d-flex align-items-center">
                <ol class="language-list m-0">
                  <li ng-repeat="language in Candidate.languages">
                    <p class="mb-0">[[language.name]]</p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <!-- .end langues -->
          <!-- Permis de conduire -->
          <div class="ibox-body col-lg-6">
            <h4 class="font-bold">Permis de conduire</h4>
            <div class="row">
              <div class="col-11 d-flex align-items-center">
                <ol ng-show="Candidate.driveLicences !== ''" class="drivelicence-list m-0 pl-0">
                  <li class="badge badge-default mr-2" ng-repeat="licence in Candidate.driveLicences">
                    [[licence.label]]
                  </li>
                </ol>
                <p ng-show="Candidate.driveLicences === '' || Candidate.driveLicences === null">Aucun</p>
              </div>
            </div>
          </div>
          <!-- .end Permis de conduire -->
        </div>
      </div>

      <div class="col-lg-12">
        <hr>
        <add-softwares softwares="Candidate.softwares" software-terms="asyncTerms('software')"></add-softwares>
      </div>
    </div>
    <!-- Aucun CV -->
    <div ng-show="!cv.hasCV">
      <h3 class="font-bold uppercase">Nous n'avons trouvé aucun CV.</h3>
      <a ng-href="[[cv.addCVUrl]]" class="btn btn-info btn-sm">Ajouter un CV</a>
    </div>
  </div>
</div>